@import "variables";

body,
html {
  height: 100%;
  color: black;
}



#wrapper {
  background: url("../images/bg.jpg");
  background-size: auto;
  background-repeat: repeat;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  background-color: #000000;
  justify-content: center;

  .banner-container {
    position: relative;

    #banner-image {
      width: 100%;
    }

    .banner-text {
      position: absolute;
      bottom: 0;
      left: 23%;
      font-weight: bold;

      .banner-my-name {
        font-size: 1.5rem;
        font-weight: bold;
      }

      .banner-my-title {
        font-style: italic;
      }

    }
  }

  .skils {
    // background-color: white;
    padding: 5px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;

    div {
      height: 35px;
      background-image: url('../images/skils.png');
      background-size: cover;
      width: 88px;
    }

    .mcp-logo {
      background-position-y: 0;
    }

    .net-logo {
      background-position-y: -35px;
    }

    .sql-logo {
      background-position-y: -70px;
    }

    .xamarin-logo {
      background-position-y: -105px;
    }

    .c-sharp-logo {
      background-position-y: -140px;
    }

    .html-logo {
      background-position-y: -175px;
    }

    .js-logo {
      background-position-y: -210px;
    }

    .css-logo {
      background-position-y: -245px;
    }

    .scss-logo {
      background-position-y: -280px;
    }

    .os-logo {
      background-position-y: -315px;
    }

    .az-logo {
      background-position-y: -350px;
    }
  }

  .my-nav {
    // padding: 15px;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;

    font-weight: bold;

    .nav-item {
      display: flex;
      align-items: center;
      margin: 0 3px;
      border: 1px solid;
      padding: 3px;
      box-shadow: 2px 2px 5px 0px black;
      transition: all 0.2s;
      cursor: pointer;

      span {
        margin: 0 4px;
      }

      &:hover {
        box-shadow: none;
        transform: translate(2px, 2px)
      }

      .nav-image {
        background-image: url("../images/nav_images.png");
        background-size: 40px 120px;
        width: 40px;
        height: 40px;
        display: inline-block;
      }

      .me-image {
        // margin: 0 4px 0 4px;
        background-position-y: -40px;
      }

      .exp-image {
        background-position-y: -80px;
      }
    }

    .active {
      border: 1px solid black;
      padding: 3px 0;
      background-color: firebrick;
      color: beige;
    }

    img {
      width: 40px;
    }
  }

  .pages-container {
    margin: 10px 10px;

    .about-me {
      padding: 0 10px 10px 10px;
      font-size: 1.3rem;
      font-weight: bold;
      background-color: firebrick;
      color: white;
      line-height: 2.5rem;
      border-radius: 5px;
      display: none;
    }

    .basketball-images {
      display: flex;
      flex: 1;
      flex-flow: wrap;
      justify-content: center;
      display: none;

      .img-container {
        padding: 30px;
        max-width: 300px;
        min-width: 300px;

        img {
          width: 100%;
        }
      }
    }
  }
}

nav {
  background-color: rgba(75, 15, 70, 0.6);
  padding: 0.8rem;
}

.container {
  padding-bottom: 0;
}

.footer {
  position: unset;
  height: 60px;
  bottom: 0;
  text-align: center;
  background-color: transparent;
  border: none !important;
  box-shadow: 1px -1px 1px 1px black;
}

#contactme-check,
#whoami-check {
  display: none;
}

#contactme-check:checked+div,
#whoami-check:checked+div {
  height: auto;
  padding: 10px;
  border: 3px solid;
}

// .paragraph {
//   font-size: 1.2rem;
//   font-weight: bold;
//   line-height: 50px;
// }


.my-name {
  background-color: #30092e;
  color: $clr-yellow;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  word-spacing: 3px;
  padding: 6px 10px;
  white-space: nowrap;

  i {
    margin: 0 10px;
  }

  span {
    border: 1px solid wheat;
    padding: 2px 6px;
    margin: 6px auto;
    background-color: black;
  }
}




@media (min-width: 499px) {}

@media (min-width: 576px) {}

@media (min-width: 768px) {
  .info {
    flex-flow: unset;


    .icons {
      order: unset;
      flex-basis: unset;
    }
  }
}

@media (min-width: 1000px) {}